www-port={{ rstudio_port }}
www-address=0.0.0.0
www-root-path=/rstudio
rsession-which-r={{ miniforge_install_dir }}/envs/{{ conda_env_name }}/bin/R
rsession-ld-library-path={{ miniforge_install_dir }}/envs/{{ conda_env_name }}/lib
